@model IEnumerable<NewUserModel>
@{
    ViewData["Title"] = "Index";
}
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>

    Welcome to Wireguard
    <br>

    <a asp-action="restart">Restart System</a>
    <a asp-controller="Account" asp-action="AddNewClient">Add New Client</a>

    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th>UserName</th> <th>Date</th></tr>
        </thead>
        <tbody>
            @foreach (WireguardAdminClient.Models.NewUserModel user in Model)
            {
                <tr>

                    <td>@user.UserName</td>
                    <td>@user.DateAdded</td>
                </tr>
            }
        </tbody>
    </table>

    Wireguard System Status:

    <pre> @ViewBag.output </pre>


    @*<a asp-controller="account" asp-action="runcmd">Run command</a>*@

</body>
</html>