@model IEnumerable<NewUserModel>
@{
    ViewData["Title"] = "Index";
}
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>

    Welcome to Wireguard
    <br>

</body>
</html>