@model LoginModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">SPORTS STORE</span>
    </div>
    <div class="m-1 p-1">
        <div class="text-danger" asp-validation-summary="All"></div>

        <form asp-action="Login" asp-controller="Account" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <div asp-validation-for="Name" class="text-danger"></div>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IPAddress"></label>
                <div asp-validation-for="IPAddress" class="text-danger"></div>
                <input asp-for="IPAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateAdded"></label>
                <div asp-validation-for="DateAdded" class="text-danger"></div>
                <input asp-for="DateAdded" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AllowedIPRange"></label>
                <div asp-validation-for="AllowedIPRange" class="text-danger"></div>
                <input asp-for="AllowedIPRange" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ClientPublicKey"></label>
                <div asp-validation-for="ClientPublicKey" class="text-danger"></div>
                <input asp-for="ClientPublicKey" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ClientPrivateKey"></label>
                <div asp-validation-for="ClientPrivateKey" class="text-danger"></div>
                <input asp-for="ClientPrivateKey" type="password" class="form-control" />
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
</body>
@*<body>

        <h3>Login Page</h3>
        @ViewBag.error
        <form method="post" asp-controller="account" asp-action="login">
            <table border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="Name"></td>
                </tr>
                <tr>
                    <td>IPAddress</td>
                    <td><input type="text" name="IPAddress"></td>
                </tr>
                <tr>
                    <td>DateAdded</td>
                    <td><input type="text" name="DateAdded"></td>
                </tr>
                <tr>
                    <td>AllowedIPRange</td>
                    <td><input type="text" name="AllowedIPRange"></td>
                </tr>
                <tr>
                    <td>ClientPublicKey</td>
                    <td><input type="password" name="ClientPublicKey"></td>
                </tr>
                <tr>
                    <td>ClientPrivateKey</td>
                    <td><input type="password" name="ClientPrivateKey"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Add Client"></td>
                </tr>
            </table>
        </form>

    </body>*@
</html>